rules_version = '2';

// Allows anyone to read/write to firestore. Do NOT use in production!
service cloud.firestore {
  match /databases/{database}/documents/{document=**} {
    allow read, create, write, delete, update: if true
  }
}