<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600060629240-m7bu9ba9namtlmo9sii2s8qs2j9k5bt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600060629240-m7bu9ba9namtlmo9sii2s8qs2j9k5bt4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>600060629240-bdfsdcfmbrjh5skdc9qufchrmcnm26fb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqgd0Zk49l1WFVx2RPKrYA5-usoSE3M-k</string>
	<key>GCM_SENDER_ID</key>
	<string>600060629240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tamu.shpe</string>
	<key>PROJECT_ID</key>
	<string>tamushpemobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tamushpemobileapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600060629240:ios:bc961f5a7224d17d266b0d</string>
</dict>
</plist>